<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748223774597-9s66qr5e0p02790db37d4eedj2jmc1no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748223774597-9s66qr5e0p02790db37d4eedj2jmc1no</string>
	<key>API_KEY</key>
	<string>AIzaSyBs4_O4gfK31MCCI8OAYszyEm9DS6KCx7o</string>
	<key>GCM_SENDER_ID</key>
	<string>748223774597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.realplaza</string>
	<key>PROJECT_ID</key>
	<string>realplaza-c9969</string>
	<key>STORAGE_BUCKET</key>
	<string>realplaza-c9969.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748223774597:ios:4c026699c8b9294b674eec</string>
</dict>
</plist>